<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->


<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<!-- <link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html"> -->
<!-- JCOA: TODO fix the program to use iron-flex-layout-classes -->
<!-- <link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html"> -->

<link rel="import" href="../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../bower_components/iron-splitter/iron-splitter.html">
<link rel="import" href="../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../bower_components/iron-overlay-behavior/demo/simple-overlay.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">

<link rel="import" href="../bower_components/neon-animation/neon-animations.html">

<link rel="import" href="external/ace-widget-jcoa/ace-widget-jcoa.html">

<!-- Configure your routes here -->
<!-- <link rel="import" href="routing.html"> -->

<!-- Add your elements here -->
<link rel="import" href="../styles/shared-styles.html">
<link rel="import" href="mm_elements/about-dialog.html">
<link rel="import" href="mm_elements/assets-objects-dialog.html">
<link rel="import" href="mm_elements/assets-objects.html">
<link rel="import" href="mm_elements/assets-images-dialog.html">
<link rel="import" href="mm_elements/assets-images.html">
<link rel="import" href="mm_elements/assets-functions-dialog.html">
<link rel="import" href="mm_elements/assets-functions.html">
<link rel="import" href="mm_elements/settings-dialog.html">
<link rel="import" href="mm_elements/play-dialog.html">
<link rel="import" href="mm_elements/three-toolbar.html">
<link rel="import" href="mm_elements/main-toolbar.html">
<link rel="import" href="mm_elements/assets-item.html">

<!-- <link rel="import" href="mm_elements/assets-behaviors.html"> -->
