<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->

<!-- TODO Do not allow duplicated names on assets -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<!-- <link rel="import" href="../../bower_components/paper-material/paper-material.html"> -->

<link rel="import" href="assets-item.html">
<!-- <link rel="import" href="assets-behaviors.html"> -->

<dom-module id="assets-images">
  <template>
    <style>
      :host {
        /* display: block; */
        display: flex;
        flex-direction: column;
      }
      #canvas1 {
        display: inline-block;
        width: 200px;
        height: 150px;
      }
      #assets {
        /* height: 200px; */
        /* overflow-y: scroll; */
        /* flex-grow: 1; */
        /* flex-shrink: 1; */
        flex: flex-grow;
        overflow-y: scroll;
      }
      #selected_view {
        display: inline-block;
        overflow: hidden;
      }
      .asset {
        border-style: solid;
        border-width: 2px;
        display: inline-block;
      }
      .selected {
        background-color: #7F7FFF;
      }
    </style>

    Load assets:
    <paper-button raised on-tap="_load">Load</paper-button>
    <div>
      <paper-input id="url" label="Paste URL here http://..."></paper-input>
      <paper-button raised on-tap="_loadUrl">Load URL</paper-button>
    </div>
    <div id="selected_view">
      <div>
        <canvas id="canvas1">
        </canvas>
      </div>
      <div>
        <div>
          {{_getName(selected)}}
        </div>
        <div>
          {{selected}}
        </div>
      </div>
    </div>
    <!-- <img id="image" src="#" alt="your image" /> -->
    <div id="assets">
      <template is="dom-repeat" items="{{assets}}">
        <div class$="asset {{_isSelectedClass(item, selected)}}" id$="{{item}}"> <!-- on-tap="_selectAsset"> --> <!-- To include selected here is essencial to make the dom-repeat update appropriately -->
          <assets-item item="{{item}}"></assets-item>

          <!-- <canvas id="canvas_{{item.name}}"></canvas>
          <span>{{item.name}}</span>
          <iron-icon icon="cancel" on-tap="_deleteAsset"></iron-icon> -->
          <!-- <iron-icon icon="check-circle"></iron-icon> -->
        </div>
      </template>
    </div>

    <input type="file" id="fileInput" multiple accept='image/*' on-change="_fileChange" hidden> <!--  multiple="{{multi}}" accept="{{accept}}">  Check an alternative to on-change or reset fileInput -->
  </template>

  <script>
    Polymer({
      is: 'assets-images',
      properties: {
        assets: {
          type: Array,
          notify: true,
          value: function() {
            return [];
          }
        },
        selected: {
          type: String,
          notify: true,
          value: ""
        },
        imageSrc: {
          type: String,
          computed: "_getImageSrc(item)"
        }
      },
      listeners: {
        'before-upload': 'beforeUpload'
        //'change': 'change'
      },
      ready: function() {
        //console.log("assets-images loaded");
        //this._assets = "testXXX";
        // this.modal = true;
      },
      _getImageSrc(id) {
        return mm_assets_textures[id].data.image.src;
        //var context = canvas.getContext( '2d' );
        //context.drawImage( asset.image, 0, 0, 200, 200 );
      },
      _updateAssets: function() {
        this.assets = [];
        var that = this;
        Object.keys(mm_assets_textures).forEach(function(key) {
          //var descr = {"id":key, "name":mm_assets_textures[key].name};
          var descr = key;
          that.push("assets", descr);
        });
      },
      _newObject: function(image) {
        return _newTexture(image);
      },
      _load: function() {
        var elem = this.$.fileInput;
        if (elem && document.createEvent) { // sanity check
          var evt = document.createEvent("MouseEvents");
          evt.initEvent("click", true, false);
          elem.dispatchEvent(evt);
        }
      },
      _loadUrl: function() {
        var url = this.$.url.value;
        urlParts = mm_repository._urlParts(url);
        var that = this;
        // TODO Check for valid extensions
        var loader = new THREE.ImageLoader();
        loader.load(
          url,
          function ( image ) {
            mm_repository._setAssetDraw(that, mm_assets_textures, url, image, urlParts.name, url);
          },
          function(progress){
          },
          function (err) {
            console.error(err);
          }
        );
      },
      _drawAsset: function (asset){
        var canvas = this.$.canvas1;
        var context = canvas.getContext( '2d' );
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.drawImage( asset.data.image, 0, 0, 200, 150 );
      },
      _clearCanvas: function(){
        var canvas = this.$.canvas1;
        var context = canvas.getContext( '2d' );
        context.clearRect(0, 0, canvas.width, canvas.height);
      },
      _isSelectedClass: function(item, selected) {
        var ret = "";
        if(item == selected){
          //console.log("Selected: "+item.name);
          ret = "selected";
          var asset = mm_assets_textures[this.selected];
          if(typeof asset != "undefined"){
            this._drawAsset(asset);
          }
        }
        return ret;
      },
      _fileChange: function(event) {
        //console.log(e);
        var files = event.target.files;
        //console.log("Load asset "+files[0].name);
        //console.log("Load "+files.length+" images.");
        for(var i=0; i<files.length; i++){
          this._loadImage(files[i]);
        }
        event.target.value = ""; // Allow _fileChange fire even if it is the same file ahain (updated file or a deleted asset)
      },
      _loadImage(file){
        var nameParts = mm_repository._nameParts(file.name);
        var reader = new FileReader();
        var that = this;
        reader.onload = function(){
          try{
            // Check if ext is jpg or png
            var id = mm_repository.hash(reader.result);
            switch(nameParts.ext){
              case "png":
              case "jpg":
                var image = new Image;
                image.src = reader.result;
                mm_repository._setAssetDraw(that, mm_assets_textures, id, image, nameParts.name, "");
                break;
              default:
                alert("File type must be jpg or png");
            }
          }
          catch(err) {
            console.error(err);
          }
        };
        if(nameParts.ext == "jpg")
          reader.readAsDataURL(file); //readAsText(input.files[0]);
        if(nameParts.ext == "png")
          reader.readAsDataURL(file); //readAsText(input.files[0]);
      },
      _deleteAsset: function(event){
        //console.log(event);
        event.stopPropagation();
        var asset = event; //.model.__data__.item;
        if(asset == this.selected){
          this.selected = "";
          this._clearCanvas();
        }
        // TODO: Check for indexOf = -1
        this.splice("assets", this.assets.indexOf(asset), 1);
        delete mm_assets_textures[asset];
      },
      _getName: function(event){
        return mm_repository.getName(mm_assets_textures, event);
      },
      behaviors: [ /* MM_Behaviors.AssetBehaviors */
      ]
    });
  </script>

</dom-module>
