<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->


<!-- TODO Do not allow duplicated names on assets -->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<!-- <link rel="import" href="../../bower_components/paper-material/paper-material.html"> -->
<link rel="import" href="../external/ace-widget-jcoa/ace-widget-jcoa.html">

<dom-module id="assets-functions">
  <template>
    <style>
      :host {
        display: block;
      }
      .asset {
        border-style: solid;
        border-width: 2px;
        display: inline-block;
      }
      .selected {
        background-color: #7F7FFF;
      }
    </style>

    Load assets:
    <paper-button raised on-tap="_load">Load from File</paper-button>
    <paper-button raised on-tap="_save">Save to File</paper-button>
    <div>
      <paper-input id="url" label="Paste URL here http://..."></paper-input>
      <paper-button raised on-tap="_loadUrl">Load from URL</paper-button>
    </div>

    <div id="selected_view">
      <div>
        Selected: <span>{{selected}}</span>
        <paper-input id="new_name" label="script_name.js"></paper-input>
        <paper-button raised on-tap="_rename">Rename</paper-button>
        <paper-button raised on-tap="_new">New</paper-button>
      </div>
    </div>

    <div id="assets">
      <template is="dom-repeat" items="{{assets}}">
        <div class$="asset {{isSelectedClass(item, selected)}}" id$="{{item}}" on-tap="_selectAsset"> <!-- To include selected here is essencial to make the dom-repeat update appropriately -->
          <div>
            <span>
              {{item}}
              <iron-icon icon="cancel" on-tap="_deleteAsset"></iron-icon>
            </span>
          </div>
        </div>
      </template>
    </div>
    <template is="dom-if" if="{{isUrl}}">
      <div>
        Read Only (URL script)
      </div>
    </template>
    <ace-widget id="editor_2" style="width:95vw; height:60vh;" theme="ace/theme/twilight" mode="ace/mode/javascript" softtabs="true">
    </ace-widget>
    <span><b>{{selected}}</b></span>

    <input type="file" id="fileInput" accept='.js' on-change="_fileChange" hidden> <!--  multiple="{{multi}}" accept="{{accept}}">  Check an alternative to on-change or reset fileInput -->
  </template>

  <script>
    // TODO: Save editor changes to repository (on memory) when selecting a new item.
    Polymer({
      is: 'assets-functions',
      properties: {
        assets: {
          type: Array,
          notify: true,
          value: function() {
            return [];
          }
        },
        selected: {
          type: String,
          notify: true,
          value: ""
        }
      },
      listeners: {
        'before-upload': 'beforeUpload'
        //'change': 'change'
      },
      ready: function() {
        //console.log("assets-objects loaded");
        // this.modal = true;
        this.isUrl = false;
        this.editor = this.$.editor_2.editor;
        //this.editor.on('change', function() {
        //   if(this.selected != ""){
        //     // It seems that it is already updated somewere
        //     mm_assets_functions[this.selected].data = this.editor.getValue();
        //   }
        //});
      },
      // TODO: Manage case of asset that uses url. Maybe use url as key?
      _updateAssets: function() {
        this.assets = [];
        var that = this;
        Object.keys(mm_assets_functions).forEach(function(key) {
          var descr = key;
          that.push("assets", descr);
        });
      },
      _newObject(data){
        return data;
      },
      _createAsset: function(data, rename){
        var name = this.$.new_name.value;
        mm_repository.updateAssetNameID(mm_assets_functions, this.selected, this.editor.getValue());
        if(name == ""){
          name = "script_name.js";
        }
        else{
          var nameParts = mm_repository._nameParts(name);
          if(nameParts.ext != "js"){
            name += ".js";
          }
        }
        var newName = name;
        if(!rename || (name!=this.selected)){
          newName = mm_repository.setAssetNameID(mm_assets_functions, name, data, "", true);
          this.selected = newName;
        }
        // this.push("assets", newName); // This allows duplicates
        return newName;
      },
      _rename: function() {
        var data = this.editor.getValue();
        var oldName = this.selected;
        var newName = this._createAsset(data, true);
        if(oldName != newName){
          this.splice("assets", this.assets.indexOf(oldName), 1);
          delete mm_assets_functions[oldName];
        }
        this._updateAssets();
      },
      _new: function() {
        this._createAsset("");
        this._updateAssets();
        //this._clearEditor();
      },
      _load: function() {
        var elem = this.$.fileInput;
        if (elem && document.createEvent) { // sanity check
          var evt = document.createEvent("MouseEvents");
          evt.initEvent("click", true, false);
          elem.dispatchEvent(evt);
        }
      },
      _saveText: function (name) {
        if(typeof this.editor  != 'undefined'){
          var blob = new Blob([this.editor.getValue()], {
              type : 'text/plain'
            });
          var tmp = saveAs(blob, name);
          //console.log(tmp);
        }
        // TODO: Add item to repository
      },
      _save: function() {
        // TODO: Check if selected is a url asset or if it is not ""
        var name = "";
        if(this.selected != ""){
          name = this.selected;
        }
        this._saveText(name);
      },
      _loadUrl: function() {
        //mm_assets_functions[this.selected].data = this.editor.getValue();
        mm_repository.updateAssetNameID(mm_assets_functions, this.selected, this.editor.getValue());
        var that = this;
        function httpGet(url){
          if (window.XMLHttpRequest)
          {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
          }
          else
          {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xmlhttp.onreadystatechange=function()
          {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
              //var urlParts = mm_repository._urlParts(url);
              //mm_repository._setAssetDraw(that, mm_assets_functions, url, xmlhttp.responseText, urlParts.name, url);
              mm_repository._setAssetDraw(that, mm_assets_functions, url, xmlhttp.responseText, url, url);
              return xmlhttp.responseText;
            }
          }
          xmlhttp.open("GET", url, false );
          xmlhttp.send();
        }

        var url = this.$.url.value;
        //console.log(url);
        urlParts = mm_repository._urlParts(url);
        if(urlParts.ext == "js"){
          var that = this;
          httpGet(url);
        }
        else{
          alert("URL must end with .js");
        }
      },
      _drawAsset: function (asset){
        this.isUrl = (asset.url!="");
        this.editor.setReadOnly(this.isUrl);
        this.editor.setValue(asset.data);
      },
      _clearEditor: function(){
        this.editor.setValue("");
      },
      isSelectedClass: function(item, selected) {
        var ret = "";
        if(item == selected){
          //console.log("Selected: "+item.name);
          ret = "selected";
          this._drawAsset(mm_assets_functions[this.selected]);
        }
        return ret;
      },
      _fileChange: function(event) {
        //mm_assets_functions[this.selected].data = this.editor.getValue();
        mm_repository.updateAssetNameID(mm_assets_functions, this.selected, this.editor.getValue());
        var input = event.target;
        //console.log("Load asset "+input.files[0].name);
        // TODO: Add asset as a map name and data (if name exists add unique name)
        var nameParts = mm_repository._nameParts(input.files[0].name);

        var reader = new FileReader();
        var that = this;

        reader.onload = function(){
          try{
            // Check if ext is jpg or png
            switch(nameParts.ext){
              case "js":
                var script = reader.result;
                var name = mm_repository.setAssetNameID(mm_assets_functions, nameParts.name, reader.result, "");
                that.selected = name; // I am not sure if we should implement this.
                if(assets[name]==undefined) that.push("assets", name); // This is the way to add values to an array property on polymer
                that._drawAsset(mm_assets_functions[name]);
                break;
              default:
                alert("File type must be js");
            }
          }
          catch(err) {
            console.error(err);
          }
        };
        if(nameParts.ext == "js")
          reader.readAsText(input.files[0]); //readAsText(input.files[0]);
        event.target.value = ""; // Allow _fileChange fire even if it is the same file ahain (updated file or a deleted asset)
      },
      _selectAsset: function(event){
        //console.log("Select: "+e.target.textContent);
        //mm_assets_functions[this.selected].data = this.editor.getValue();
        mm_repository.updateAssetNameID(mm_assets_functions, this.selected, this.editor.getValue());
        //var id = event._path[2].id;
        var id = event.path[2].id;
        if(id != undefined){
          if(id != ""){
            this.selected = id;
            this._drawAsset(mm_assets_functions[id]);
          }
        }
      },
      _deleteAsset: function(event){
        //console.log(event);
        event.stopPropagation();
        var asset = event.model.__data__.item;
        this.splice("assets", this.assets.indexOf(asset), 1);
        // TODO: When we delete and try to reload the same file it does not work, it seems to prevent the same file from loading twice (maybe because change does not fire?)
        delete mm_assets_functions[asset];
        if(asset == this.selected){
          // Avoid selected = "" on this dialog. So changes can always be saved to an instance
          var keys = Object.keys(mm_assets_functions);
          if(keys[0] != undefined){
            this.selected = keys[0];
            this._drawAsset(mm_assets_functions[this.selected]);
          }
          else{
            // Create new empty function asset
            var name = "script1.js";
            mm_assets_functions[name] = {name: name, data: "", url:""};
            this.selected = name;
            this.push("assets", name)
            this._clearEditor();
          }
        }
      },
      behaviors: [
      ]
    });
  </script>

</dom-module>
