<!-- Copyright (c) 2018 Juan Carlos Orozco Arena. 
The MakerSCAD trademark, name and the block icons are owned and Copyright (c) 2018 MakerMex, SA de CV.
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License V3.0 as published by
the Free Software Foundation

Author: Juan Carlos Orozco
Includes contributions by MakerMex team: Luis Arturo Pacheco

3D design software based on software distributed with MIT License:
Blockly
Threejs
Polymer -->


<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="main-toolbar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <paper-checkbox id="mt_auto">Auto</paper-checkbox>
    <paper-button id="draw" raised onclick="drawClick()">Draw</paper-button>
    <paper-button raised on-tap="play">Play</paper-button>
    <template is="dom-if" if="{{photorealism}}">
      <paper-button raised>Render</paper-button>
    </template>
  </template>

  <script>
    Polymer({
      is: 'main-toolbar',
      properties: {
        photorealism: {
            value: false,
            type: Boolean,
            notify: false
        }
      },
      listeners: {
        'change': 'change'
      },
      ready: function() {
      },
      change: function(e) {
        //console.log(e.target);
        switch(e.target.id){
          case "mt_auto":
            mm_settings.auto = e.target.checked;
            break;
        }
        drawClick();
      },
      play: function(e) {
        drawClick();
        var dialog = document.getElementById("play1");
        if (dialog) {
          dialog.open();
          //document.getElementById('polygon-editor').src += ''; // JCOA: This resets polygon dialog window and does not allow value assignment below to work.
          // polygon_editor.location.reload();
        }
      },
      behaviors: [
      ]
    });
  </script>

</dom-module>
